<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
index/index/index
<script src="assets/js/jquery-1.11.1.min.js"></script>
<script type="application/javascript" src="assets/js/jquery.cookie.js"></script>
<script type="application/javascript" charset="UTF-8">



    window.onload = function () {
        window.addEventListener('message', function (event) {
            window.parent.postMessage(event.data + "recevie",'*');
            if (event.source != window.parent) return;
            var origin = event.origin || event.originalEvent.origin;
            document.cookie = "xmus=" + event.data;
        }, false)

        window.parent.postMessage($.cookie('xmus'),'*');
    }
</script>
</body>
</html>