<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
index/index/index
<script src="assets/js/jquery-1.11.1.min.js"></script>
<script type="application/javascript" src="assets/js/jquery.cookie.js"></script>
<script type="application/javascript" charset="UTF-8">


    window.onload = function () {
        window.addEventListener('message', function (event) {

            if (event.source != window.parent) return;
            var origin = event.origin || event.originalEvent.origin;

            var postData = JSON.parse(event.data);

            switch (postData.type) {
                case 'set':
                    $.cookie('xmus',postData.data);
                    var returnData = {type:'console',data:$.cookie('xmus')}
                    window.parent.postMessage(JSON.stringify(returnData), '*');
                    break;
                case '':
                    break;
            }

        }, false);
        var boardcast = {type:'boardcast',data:$.cookie('xmus')};
        window.parent.postMessage(JSON.stringify(boardcast), '*');
    }
</script>
</body>
</html>